In [1]:
#Importing libraries and dependencies
import requests
import json
from pprint import pprint
import pandas as pd


# Import API key
from config import api_key

In [2]:
#configuring the Yelp API
headers = {'Authorization': 'Bearer %s' % api_key}

In [3]:
# url='https://api.yelp.com/v3/businesses/search'

# #looping the API and collecting necessary data
# param = {'location':"Philadelphia",'term':'ice cream'}
# responses=requests.get(url, params=param, headers=headers).json()

In [4]:
# pprint(responses)

In [5]:
name = []
zipcode =[]
address = []
rating=[]
review = []
price = []
j=0

#URL for Yelp's API
url='https://api.yelp.com/v3/businesses/search'

#looping the API and collecting necessary data
  
param = {'location':"Philadelphia",'term':'icecream','limit':50}
responses=requests.get(url, params=param, headers=headers).json()


for bus in responses['businesses']:

    try:
        name.append(responses['businesses'][j]['name'])
        zipcode.append(responses['businesses'][j]['location']['zip_code'])
        rating.append(responses['businesses'][j]['rating'])
        review.append(responses['businesses'][j]['review_count'])
        price.append(responses['businesses'][j]['price'])
    except:
        price.append("")
    j+=1

In [23]:
#creating and printing out the dataframe
icecream_df = pd.DataFrame({"Business Name":name,"Zip Code":zipcode,"Review Count":review,"Rating":rating, "Price":price})

icecream_df['Price Numerical'] =""
for index, row in icecream_df.iterrows():
    if icecream_df.loc[index,'Price'] == "$":
        icecream_df.loc[index,'Price Numerical'] = 1
    elif icecream_df.loc[index,'Price'] == "$$":
        icecream_df.loc[index,'Price Numerical'] = 2
    elif icecream_df.loc[index,'Price'] == "$$$":
        icecream_df.loc[index,'Price Numerical'] = 3
    elif icecream_df.loc[index,'Price'] == "$$$$":
        icecream_df.loc[index,'Price Numerical'] = 4


# icecream_df["Zip Code"]=icecream_df["Zip Code"].astype(int)
icecream_df

,Business Name,Zip Code,Review Count,Rating,Price,Price Numerical
0,The Franklin Fountain,19106,1985,4.0,$$,2
1,C & C Creamery,19128,206,4.5,$,1
2,Big Gay Ice Cream,19147,411,3.5,$,1
3,Sprinkles Ice Cream Shoppe,19027,96,4.5,$,1
4,Merrymead Farm,19446,131,4.0,$,1
5,Frozen Rolled Ice Cream,19107,184,4.0,$,1
6,Ice Moon,19149,23,4.0,,
7,Scoop Deville,19107,474,4.0,$$,2
8,Maple Shade Custard Stand,08052,107,4.5,$,1
9,Parlour Ice Cream,19003,27,5.0,,
10,Bassetts Ice Cream,19107,456,4.0,$$,2
11,Scoops,19428,64,4.5,$,1
12,Bredenbeck's Bakery & Ice Cream Parlor,19118,260,4.0,$$,2
13,Insomnia Cookies,19103,437,4.0,$,1
14,Weckerly's Ice Cream,19123,290,4.5,$$,2
15,Latteria,08085,89,5.0,$$,2
16,Sweet Lucy'S Ice Cream & Treats,19803,38,4.0,$,1
17,Freddy Hill Farms,19446,124,3.5,$,1
18,Crave Creamery,19064,28,5.0,$$,2
19,Tanner Brothers Dairy,18974,116,4.0,$$,2
20,Cone Heads Ice Cream Dairy,19054,11,3.0,$,1
21,Richman's Ice Cream & Burger Company,19136,39,4.0,$,1
22,Scooped Ice Cream & Gelato,19063,54,4.5,$,1
23,Handel's Homemade Ice Cream,19312,171,4.5,$,1
24,Cold Stone Creamery,19064,31,3.0,$$,2
25,Zwahlen's Ice Cream & Chocolate,19403,167,4.5,$,1
26,Koffmeyer's,19083,42,4.0,$,1
27,Nina's Waffles & Ice Cream,18940,21,3.0,,
28,Dylan’s Ice & Treats,19151,2,5.0,,
29,El Pueblo,19147,22,4.5,$,1
30,Twistee Treat,19149,11,4.0,$$,2
31,Bruster's Real Ice Cream,19053,43,4.0,$$,2
32,Gran Caffe L'Aquila,19103,959,4.5,$$,2
33,Daddy O's Dairy Barn,08053,55,3.5,$,1
34,Frozen Rolled Icecream,19147,19,4.5,$,1
35,Sweet Charlie's,19106,271,4.0,$$,2
36,Insomnia Cookies,19107,181,4.0,$,1
37,Philly Flavors,19130,249,3.0,$,1
38,Moon Dawg Sundaes,19122,4,4.5,,
39,Brown's Cow,19460,45,4.5,$,1
40,Sweet Charlie's,19103,84,3.5,$,1
41,Freshbae,19107,18,4.0,,
42,Creanies Ice Cream,08081,44,3.5,$,1
43,A La Mousse,19107,613,4.5,$$,2
44,Creperie Beau Monde & L'Etage,19147,595,4.0,$$,2
45,Good Moo'd Creamery,19148,65,4.5,$$,2
46,Mueller's Sugar Cone,08021,22,4.5,$,1
47,Freddy's Frozen Custard & Steakburgers,19008,147,4.0,$,1
48,T-Swirl Crêpe,19107,368,4.0,$,1
49,John's Water Ice,19147,244,4.5,$,1

In [7]:
icecream_df.to_csv('ETL_df.csv')

In [8]:
zillow_df = pd.read_csv('Properties_philly_Kraggle_v2.csv').dropna()
zillow_df['Postal Code']=zillow_df['Postal Code'].astype(int)
zillow_df['Postal Code']=zillow_df['Postal Code'].astype(str)
zillow_df

,Address,Zillow Address,Sale Date,Opening Bid,Sale Price/bid price,Book/Writ,OPA,Postal Code,Attorney,Ward,...,School Score,Zillow Estimate,Rent Estimate,taxAssessment,yearBuilt,finished \n(SqFt),bathrooms,bedrooms,PropType,Average comps
0,2327 E SERGEANT ST,"2327 E SERGEANT ST , Philadelphia, PA 19125",September 13 2016,11400.0,"$11,400",1609-412,314095100.0,19125,PHELAN HALLINAN LLP,31.0,...,15.87,"228,663.00","1,500.00","174,000.00",1921.0,898.0,1,2,SingleFamily,"240,254.55"
1,4466 TOLBUT ST,"4466 TOLBUT ST , Philadelphia, PA 19136",August 2 2016,8500.0,"$8,500",1606-339,652092800.0,19136,PARKER MCCAY,65.0,...,32.53,"141,579.00","1,200.00","119,700.00",1959.0,1120.0,1.5,3,Townhouse,"150,937.50"
2,134 E WALNUT LN,"134 E WALNUT LN , Philadelphia, PA 19144",August 2 2016,12600.0,"$12,600",1605-426,592058735.0,19144,PHELAN HALLINAN LLP,59.0,...,7.89,"186,172.00","1,500.00","190,300.00",2006.0,1882.0,3,3,SingleFamily,"225,483.33"
3,111 W ABBOTTSFORD AVE,"111 W ABBOTTSFORD AVE , Philadelphia, PA 19144",August 2 2016,9200.0,"$9,200",1607-317,123016300.0,19144,KML LAW GROUP,12.0,...,7.89,"168,557.00","1,400.00","118,300.00",1900.0,1792.0,1,4,SingleFamily,"135,755.56"
4,146 E DUVAL ST,"146 E DUVAL ST , Philadelphia, PA 19144",August 2 2016,8900.0,"$8,900",1605-510,592159100.0,19144,PHELAN HALLINAN LLP,59.0,...,7.89,"135,045.00","1,350.00","113,700.00",1925.0,1419.0,2,3,SingleFamily,"144,120.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,2210 N 17TH ST,"2210 N 17TH ST , Philadelphia, PA 19132",September 13 2016,7400.0,"$59,000",1609-400,161161901.0,19132,SHAPIRO & DENARDO LLC,16.0,...,5.63,"61,406.00","1,250.00","13,400.00",1936.0,2288.0,1,5,Townhouse,"72,625.00"
611,31 N RUBY ST,"31 N RUBY ST , Philadelphia, PA 19139",October 4 2016,64800.0,"$64,800",1610-567,441192200.0,19139,MILSTEAD & ASSOCIATES LLC,44.0,...,3.34,"59,447.00","1,100.00","43,900.00",1925.0,1238.0,1,3,Townhouse,"56,029.00"
612,653 N 33RD ST,"653 N 33RD ST , Philadelphia, PA 19104",August 2 2016,15100.0,"$25,000",1602-655,242143100.0,19104,MCCABE WEISBERG & CONWAY P.C.,24.0,...,28.40,"20,806.00","1,300.00","16,200.00",1935.0,2315.0,4,5,MultiFamily2To4,"21,166.67"
613,5423 WOODBINE AVE,"5423 WOODBINE AVE , Philadelphia, PA 19131",August 2 2016,15400.0,"$180,000",1608-406,522177800.0,19131,STERN & EISENBERG P.C.,52.0,...,8.34,"83,447.00","1,450.00","65,700.00",1925.0,3096.0,2,6,SingleFamily,"126,401.60"
804,730 S CECIL ST,"730 S CECIL ST , Philadelphia, PA 19143",August 2 2016,8200.0,"$94,000",1607-504,463274800.0,19143,POWERS KIRN & ASSOCIATES LLC,46.0,...,5.07,"36,288.00","1,000.00","50,700.00",1920.0,900.0,1,3,Townhouse,"38,900.00"

In [35]:
merge_df = pd.merge(icecream_df, zillow_df, left_on="Zip Code",right_on= "Postal Code", validate="m:m")
merge_df

,Business Name,Zip Code,Review Count,Rating,Price,Price Numerical,Address,Zillow Address,Sale Date,Opening Bid,...,School Score,Zillow Estimate,Rent Estimate,taxAssessment,yearBuilt,finished \n(SqFt),bathrooms,bedrooms,PropType,Average comps
0,C & C Creamery,19128,206,4.5,$,1,313 SALAIGNAC ST,"313 SALAIGNAC ST , Philadelphia, PA 19128",September 13 2016,10900.0,...,38.33,"192,442.00","1,350.00","55,500.00",1955.0,896.0,1,2,Townhouse,"215,612.50"
1,C & C Creamery,19128,206,4.5,$,1,470 HARMON RD,"470 HARMON RD , Philadelphia, PA 19128",August 2 2016,14400.0,...,38.33,"331,726.00","1,914.00","261,400.00",1925.0,2702.0,4,5,SingleFamily,"279,044.44"
2,C & C Creamery,19128,206,4.5,$,1,7508 MANTI ST,"7508 MANTI ST , Philadelphia, PA 19128",September 13 2016,27600.0,...,38.33,"272,282.00","1,850.00","268,300.00",1970.0,1647.0,2,3,SingleFamily,"292,416.67"
3,C & C Creamery,19128,206,4.5,$,1,4419 MITCHELL ST,"4419 MITCHELL ST , Philadelphia, PA 19128",March 7 2017,11100.0,...,38.33,"205,542.00","1,350.00","162,700.00",1914.0,1080.0,1,2,SingleFamily,"178,300.00"
4,C & C Creamery,19128,206,4.5,$,1,303 SHAWMONT AVE 2A6,"303 SHAWMONT AVE 2A6, Philadelphia, PA 19128",October 4 2016,8400.0,...,38.33,"121,215.00","1,300.00","118,800.00",1980.0,1311.0,2,2,SingleFamily,"151,250.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Good Moo'd Creamery,19148,65,4.5,$$,2,611 WATKINS ST,"611 WATKINS ST , Philadelphia, PA 19148",September 13 2016,12400.0,...,20.70,"184,677.00","1,300.00","149,800.00",1917.0,1064.0,1,3,Townhouse,"233,530.77"
63,Good Moo'd Creamery,19148,65,4.5,$$,2,2633 S JUNIPER ST,"2633 S JUNIPER ST , Philadelphia, PA 19148",September 13 2016,13900.0,...,20.70,"147,780.00","1,350.00","136,600.00",1920.0,912.0,1,3,Townhouse,"175,250.00"
64,Good Moo'd Creamery,19148,65,4.5,$$,2,423 TREE ST,"423 TREE ST , Philadelphia, PA 19148",October 4 2016,10800.0,...,20.70,"140,069.00","1,200.00","97,400.00",1925.0,1072.0,1,2,Townhouse,"202,611.11"
65,Good Moo'd Creamery,19148,65,4.5,$$,2,1650 S CAMAC ST,"1650 S CAMAC ST , Philadelphia, PA 19148",September 13 2016,11300.0,...,20.70,"372,856.00","1,050.00","185,900.00",1925.0,1935.0,1,1,Townhouse,"313,327.82"
66,Good Moo'd Creamery,19148,65,4.5,$$,2,1316 RITNER ST,"1316 RITNER ST , Philadelphia, PA 19148",September 13 2016,14800.0,...,20.70,"291,677.00","1,450.00","201,500.00",1915.0,1782.0,-,-,Condominium,"203,500.00"

In [10]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_hospitals_in_Pennsylvania')
tables

[                                           Name[1]       City[1]  \
 0             Abington Hospital - Jefferson Health      Abington
 1    Abington-Lansdale Hospital - Jefferson Health      Lansdale
 2                                    ACMH Hospital    Kittanning
 3                       Advanced Surgical Hospital    Washington
 4                       Allegheny General Hospital    Pittsburgh
 ..                                             ...           ...
 245                         WellSpan York Hospital          York
 246                    Wernersville State Hospital  Wernersville
 247                             West Penn Hospital    Pittsburgh
 248                  Wilkes-Barre General Hospital  Wilkes-Barre
 249                             Wills Eye Hospital  Philadelphia

         County[1]  Licensed beds[1] Operating rooms[2] Tax status[1]  \
 0      Montgomery               655                 23    Non-profit
 1      Montgomery               140                  7    Non-profit
 2       Armstrong               147                  8    Non-profit
 3      Washington                14                  4    For-profit
 4       Allegheny               552                 39    Non-profit
 ..            ...               ...                ...           ...
 245          York               580                 18    Non-profit
 246         Berks               266                  0         State
 247     Allegheny               317                 19    Non-profit
 248       Luzerne               412                 15    For-profit
 249  Philadelphia                 4                  8          City

                      Type[1]          Health system[1] US News PA rank[3]  \
 0              General acute          Jefferson Health                 11
 1              General acute          Jefferson Health                  —
 2              General acute               Independent                  —
 3    General acute specialty               Independent                  —
 4              General acute  Allegheny Health Network                 21
 ..                       ...                       ...                ...
 245            General acute           WellSpan Health                 15
 246              Psychiatric               Independent                  —
 247            General acute  Allegheny Health Network                  —
 248            General acute  Community Health Systems                  —
 249  Eye, ear, nose & throat               Independent                  —

     Notes
 0       —
 1       —
 2       —
 3       —
 4       —
 ..    ...
 245     —
 246     —
 247     —
 248     —
 249     —

 [250 rows x 10 columns],
             Date                     City        County Beds  \
 0   2018 (start)  West Brunswick Township    Schuylkill   80
 1   2018 (start)         Milford Township         Bucks   40
 2   2018 (start)             Tannersville        Monroe    ?
 3    2019 (open)                Brentwood     Allegheny   10
 4    2019 (open)       Hempfield Township  Westmoreland   10
 5    2019 (open)          Harmar Township     Allegheny   10
 6    2019 (open)               McCandless     Allegheny   10
 7   2019 (start)         Hampden Township    Cumberland  108
 8   2020 (start)       Hempfield Township     Lancaster  120
 9    2021 (open)            Pine Township     Allegheny  160
 10   2021 (open)          King of Prussia    Montgomery   52
 11   2021 (open)          Jefferson Hills     Allegheny   63
 12  undetermined           Muncy Township      Lycoming    ?
 13   2021 (open)               Pittsburgh     Allegheny    ?
 14   2023 (open)               Pittsburgh     Allegheny  180
 15   2023 (open)               Pittsburgh     Allegheny  620

                        Type                         Health system   Ref
 0             General acute              St. Luke's and Geisinger  [19]
 1             General acute  St. Luke's University Health Network  [20]
 2             General acute          Lehigh Valley Health Network  [21]
 3             General acute              Allegheny Health Network  [22]
 4             General acute              Allegheny Health Network  [23]
 5             General acute              Allegheny Health Network  [24]
 6             General acute              Allegheny Health Network  [25]
 7             General acute                     Penn State Health  [26]
 8             General acute                     Penn State Health  [27]
 9             General acute              Allegheny Health Network  [28]
 10  General acute specialty    The Children's Hospital Foundation  [29]
 11            General acute                                  UPMC  [30]
 12            General acute                             Geisinger  [31]
 13  General acute specialty                                  UPMC  [32]
 14  General acute specialty                                  UPMC  [32]
 15  General acute specialty                                  UPMC  [32]  ,
                vtePennsylvania Trauma Centers  \
 0           List of hospitals in Pennsylvania
 1   Combined Adult Level I /Pediatric Level I
 2  Combined Adult Level I /Pediatric Level II
 3                               Adult Level I
 4                           Pediatric Level I
 5                              Adult Level II
 6                                   Level III
 7                                    Level IV
 8                        As of August 5, 2018

                     vtePennsylvania Trauma Centers.1
 0                  List of hospitals in Pennsylvania
 1        Penn State Milton S. Hershey Medical Center
 2  Geisinger Medical Center Lehigh Valley Health ...
 3  Allegheny General Hospital Conemaugh Memorial ...
 4  Children's Hospital of Philadelphia St. Christ...
 5  Abington Hospital–Jefferson Health Jefferson H...
 6  Lehigh Valley Hospital–Schuylkill E. Norwegian...
 7  Fulton County Medical Center Grove City Medica...
 8                               As of August 5, 2018  ,
   vteList of hospitals in the United States  \
 0                                    States
 1                          Federal district
 2                             Insular areas

          vteList of hospitals in the United States.1
 0  Alabama Alaska Arizona Arkansas California Col...
 1                                   Washington, D.C.
 2  American Samoa Guam Northern Mariana Islands P...  ,
   vte Commonwealth of Pennsylvania  \
 0             Harrisburg (capital)
 1                           Topics
 2                          Society
 3                      Metro areas
 4                   Largest cities
 5            Largestmunicipalities
 6                          Regions
 7                         Counties

                   vte Commonwealth of Pennsylvania.1  \
 0                               Harrisburg (capital)
 1  Index Delegations Government History Geography...
 2  Agriculture Culture Crime Demographics Economy...
 3  Altoona Baltimore-Washington Erie Harrisburg–C...
 4  Allentown Altoona Bethlehem Butler Chester DuB...
 5  Abington Bensalem Bethel Park Bristol Cheltenh...
 6  Allegheny Mountains Allegheny National Forest ...
 7  Adams Allegheny Armstrong Beaver Bedford Berks...

   vte Commonwealth of Pennsylvania.2
 0               Harrisburg (capital)
 1               Seal of Pennsylvania
 2               Seal of Pennsylvania
 3               Seal of Pennsylvania
 4               Seal of Pennsylvania
 5               Seal of Pennsylvania
 6               Seal of Pennsylvania
 7               Seal of Pennsylvania  ]

In [20]:
school_df = pd.read_csv('ExtractEntitiesAdmin.csv')
school_df = school_df.loc[school_df["MailingCity"]=="Philadelphia"]
school_df

,AUNumber,InstName,Category,IUNumber,IU,CountyName,StatusDescription,EffectiveDate,PhoneNumber,PhoneNumberExtn,...,Salutation,FirstName,MiddleInitial,LastName,Suffix,AdminPhoneNumber,AdminPhoneNumberExtn,CommissionStartDate,CommissionExpirationDate,Unnamed: 33
2,397513876.0,"1-2-3 Bingo Driving School, LLC",Private Driver Training School,26.0,Philadelphia IU 26,Philadelphia,Open,07/27/2011,(215)821-7860,NaN,...,NaN,Victor,V,Gill,NaN,(215)821-7860,NaN,NaN,NaN,NaN
3,396511436.0,123 Back to Basics LLC,Miscellaneous,NaN,NaN,Philadelphia,Open,04/23/2015,(215)724-2134,NaN,...,Ms,Robin,T,Johne,NaN,(215)724-2134,NaN,NaN,NaN,NaN
7,300519930.0,21st Cent Chrst Ln C IN,"Other Private, Non-Licensed Entity",26.0,Philadelphia IU 26,Philadelphia,Open,07/06/1990,(215)389-4277,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,226510012.0,21st Century Christian Academy,"Nonpublic, Non-Licensed School",26.0,Philadelphia IU 26,Philadelphia,Open,09/02/2006,(610)812-5166,NaN,...,Dr,John,B,Craig,NaN,NaN,NaN,NaN,NaN,NaN
17,226510039.0,63rd Street Multicultural Academy of Academic ...,"Nonpublic, Non-Licensed School",26.0,Philadelphia IU 26,Philadelphia,Open,08/25/2008,(215)240-6721,NaN,...,Dr,Nikkita,NaN,Shoatz-Ahmad,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13265,326515877.0,"Youth Service, Inc. - Youth Emergency Shelter",Miscellaneous,26.0,Philadelphia IU 26,Philadelphia,Open,05/31/2013,(215)787-0633,NaN,...,Mr,Willie,NaN,Little,NaN,NaN,NaN,NaN,NaN,NaN
13270,326518966.0,Youth Study Center,Miscellaneous,26.0,Philadelphia IU 26,Philadelphia,Open,05/31/2013,(215)951-5681,NaN,...,Ms,Margaret,R,Holloman,NaN,(215)951-5681,NaN,NaN,NaN,NaN
13303,300519810.0,YWCA of Philadelphia,Miscellaneous,26.0,Philadelphia IU 26,Philadelphia,Open,08/15/1994,(215)790-9006,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13311,300513845.0,Zhang Sah,Miscellaneous,26.0,Philadelphia IU 26,Philadelphia,Open,07/14/1999,(215)923-6676,NaN,...,Mr,Salvatore,J,Sandone,NaN,NaN,NaN,NaN,NaN,NaN
13313,300519900.0,Zion Day Care Center,"Other Private, Non-Licensed Entity",26.0,Philadelphia IU 26,Philadelphia,Open,07/06/1990,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
merge_df2= pd.merge(school_df, merge_df, left_on="LocationZipCode",right_on= "Zip Code", validate="m:m")
merge_df2.head()

,AUNumber,InstName,Category,IUNumber,IU,CountyName,StatusDescription,EffectiveDate,PhoneNumber,PhoneNumberExtn,...,School Score,Zillow Estimate,Rent Estimate,taxAssessment,yearBuilt,finished \n(SqFt),bathrooms,bedrooms,PropType,Average comps
0,226510075.0,63rd Street Multicultural Academy of Academic ...,"Nonpublic, Non-Licensed School",26.0,Philadelphia IU 26,Philadelphia,Open,03/01/2012,(267)977-2542,NaN,...,8.92,"123,646.00","1,100.00","110,900.00",1910.0,1282.0,1,3,Condominium,"137,500.00"
1,226510075.0,63rd Street Multicultural Academy of Academic ...,"Nonpublic, Non-Licensed School",26.0,Philadelphia IU 26,Philadelphia,Open,03/01/2012,(267)977-2542,NaN,...,8.92,"116,089.00","1,200.00","90,000.00",1900.0,1608.0,1,4,SingleFamily,"147,216.67"
2,226510075.0,63rd Street Multicultural Academy of Academic ...,"Nonpublic, Non-Licensed School",26.0,Philadelphia IU 26,Philadelphia,Open,03/01/2012,(267)977-2542,NaN,...,8.92,"123,992.00","1,200.00","87,400.00",1925.0,1344.0,1,3,Townhouse,"142,907.69"
3,226510075.0,63rd Street Multicultural Academy of Academic ...,"Nonpublic, Non-Licensed School",26.0,Philadelphia IU 26,Philadelphia,Open,03/01/2012,(267)977-2542,NaN,...,8.92,"161,149.00","1,300.00","148,200.00",1925.0,1152.0,1,3,Townhouse,"152,257.14"
4,226510075.0,63rd Street Multicultural Academy of Academic ...,"Nonpublic, Non-Licensed School",26.0,Philadelphia IU 26,Philadelphia,Open,03/01/2012,(267)977-2542,NaN,...,8.92,"112,146.00","1,300.00","144,400.00",1925.0,1666.0,1,3,Townhouse,"103,117.08"

In [22]:
school_df['Category'].unique()

array(['Private Driver Training School', 'Miscellaneous',
       'Other Private, Non-Licensed Entity',
       'Nonpublic, Non-Licensed School', 'Private Licensed School',
       'Act 48 Independent Provider',
       'Charter School                          ', 'Library', 'Diocese',
       'Other College and University', 'Specialized Associate Degree',
       'Licensed, Private Academic School',
       'Private College and University', 'Approved Private School',
       'Community College          ', 'Private State-Aided Institution',
       'Professional Education Association', 'Theological Seminary',
       'Career and Technical Center', 'School District',
       'Intermediate Unit', 'State-Related Commonwealth University'],
      dtype=object)

In [28]:
zipcodes = merge_df2["Postal Code"]
zipcodes

0       19151
1       19151
2       19151
3       19151
4       19151
        ...
1430    19128
1431    19128
1432    19128
1433    19128
1434    19128
Name: Postal Code, Length: 1435, dtype: object

In [31]:
ice_cream_parlors = merge_df2["Business Name"]
ice_cream_parlors

0       Dylan’s Ice & Treats
1       Dylan’s Ice & Treats
2       Dylan’s Ice & Treats
3       Dylan’s Ice & Treats
4       Dylan’s Ice & Treats
                ...
1430          C & C Creamery
1431          C & C Creamery
1432          C & C Creamery
1433          C & C Creamery
1434          C & C Creamery
Name: Business Name, Length: 1435, dtype: object

In [32]:
listing = merge_df2["Zillow Address"]
listing

0        6622 HADDINGTON LN , Philadelphia, PA 19151
1        5905 W THOMPSON ST , Philadelphia, PA 19151
2            1404 N 61ST ST , Philadelphia, PA 19151
3       6617 MORRIS PARK RD , Philadelphia, PA 19151
4            1161 N 65TH ST , Philadelphia, PA 19151
                            ...
1430       252 ROCHELLE AVE , Philadelphia, PA 19128
1431        208 OVERLOOK RD , Philadelphia, PA 19128
1432        6470 LAWNTON ST , Philadelphia, PA 19128
1433         8572 LYKENS LN , Philadelphia, PA 19128
1434      4237 MANAYUNK AVE , Philadelphia, PA 19128
Name: Zillow Address, Length: 1435, dtype: object

In [33]:
parlor_review = merge_df2["Review Count"]
parlor_review

0         2
1         2
2         2
3         2
4         2
       ...
1430    206
1431    206
1432    206
1433    206
1434    206
Name: Review Count, Length: 1435, dtype: int64

In [34]:
parlor_ratings = merge_df2["Rating"]
parlor_ratings

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
1430    4.5
1431    4.5
1432    4.5
1433    4.5
1434    4.5
Name: Rating, Length: 1435, dtype: float64

In [38]:
parlor_prices = merge_df2["Price Numerical"]
parlor_prices

0
1
2
3
4
       ..
1430    1
1431    1
1432    1
1433    1
1434    1
Name: Price Numerical, Length: 1435, dtype: object

In [40]:
real_estate_sales = merge_df2[['Zillow Estimate','Rent Estimate','Opening Bid']]
real_estate_sales

     Zillow Estimate Rent Estimate  Opening Bid
0         123,646.00      1,100.00       9500.0
1         116,089.00      1,200.00      14400.0
2         123,992.00      1,200.00       9300.0
3         161,149.00      1,300.00       9900.0
4         112,146.00      1,300.00      24000.0
...              ...           ...          ...
1430      220,516.00      1,600.00      11200.0
1431      174,577.00      1,350.00      10600.0
1432      223,576.00      1,600.00      12000.0
1433      236,677.00      1,600.00      16800.0
1434      227,882.00      1,650.00      12300.0

[1435 rows x 3 columns]

In [41]:
community_crime = merge_df["Violent Crime Rate"]
community_crime

KeyError: 'Violent Crime Rate'

In [ ]:
community_school = merge_df["School Score"]
community_school

In [ ]:
community_walk_transit = merge_df["Avg Walk&Transit score"]
community_walk_transit